# ==========
# MPLAB.X

# Build Artifacts
*.o
*.d
*.eep
*.elf
# *.hex
# *.map
*.srec

# Build Directories
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/project.properties
**/*.X/debug
# **/*.X/dist
**/*.X/build
**/*.X/.generated_files
**/*.X/defmplabtrace.log*
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
**/*.KEIL/Objects
**/*.KEIL/*.uvguix.*
Gemfile*

# Debugger artifacts
jlink*.log

# ============
# Atmel Studio

# ============
# vscode
**/*.vscode

# Build Directories
[Dd]ebug/
[Rr]elease/
*.zip
